<ion-view view-title="Login" align-title="left">
    <ion-content style="background-color:#FFFFFF"  scroll="false">
		<section class="login-container">
		<div class = "col header text-center">
               <img src="./img/logo.jpg" class = "logo" width="50%" height="50%"/>
            </div>
        
        <div class="list">
            <ion-md-input placeholder="Usuario" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Contraseña" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button  class="button button-full" ng-click="LogIn(user)">Ingresar</button>
        </div>
        <!--<div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>-->
		</section>
    </ion-content>
</ion-view>
