<ion-view view-title="Puntos de  Predicación">
    <ion-content delegate-handle="agendaScrollDelegate" ng-init="blinds()">
		<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Mes de Marzo </strong>
        </div>
      <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Miercoles 9</div>
      <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Clase Central</h2>
		  <p>19:00 hrs</p>
          <p>Calle Victoria con 100 aguilas</p>
		  <i class="icon ion-map" ng-click="mostrarMapa(-33.043145, -71.360502, 'Clase Central')"></i>
      </div>
	  <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Clase 100 Aguilas</h2>
		  <p>19:00 hrs</p>
          <p>100 Aguilas con errazuriz</p>
		  <i class="icon ion-map" ng-click="mostrarMapa(-33.048829, -71.360499, 'Clase 100 Aguilas')"></i>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Jueves 10</div>
 <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Clase Central</h2>
		  <p>19:00 hrs</p>
          <p>Calle Victoria con 100 aguilas</p>
		  <i class="icon ion-map" ng-click="mostrarMapa(-33.043145, -71.360502, 'Clase Central')"></i>
      </div>
	  
    </div>
    <div class="list">
      <div class="item item-divider"  ion-affix><i class="icon ion-calendar"></i> Domingo 12</div>
         <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Templo Central</h2>
          <p>09:00 hrs </p>
		  <p>Calle Victoria con 100 aguilas</p>
		  <i class="icon ion-map" ng-click="mostrarMapa(-33.043145, -71.360502, 'Templo Central')"></i>
      </div>
	  <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Templo central</h2>
		  <p>17:00 hrs</p>
          <p>100 Aguilas con errazuriz</p>
		  <i class="icon ion-map" ng-click="mostrarMapa(-33.048829, -71.360499, 'Templo Central')"></i>
      </div>
       
    </div>

      </div>
    </div>
    </ion-content>
</ion-view>
