<ion-view view-title="Servicios del Mes">
    <ion-content delegate-handle="agendaScrollDelegate">
		<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">IEP Peñablanca: Marzo </strong>
        </div>
      <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Miercoles 9</div>
      <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Clase Central</h2>
		  <p>19:00 hrs Visita Coro Limache</p>
		  
      </div>
	  <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Clase 100 Aguilas</h2>
		  <p>19:00 hrs Visita Pastor Talca</p>
		  
      </div>
    </div>
    <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Jueves 10</div>
 <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Clase Central</h2>
		  <p>19:00 hrs Visitas Ciclistas</p>
		  
      </div>
	  
    </div>
    <div class="list">
      <div class="item item-divider"  ion-affix><i class="icon ion-calendar"></i> Domingo 12</div>
         <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Templo Central</h2>
          <p>09:00 hrs  Consentracion de voluntarios</p>

      </div>
	  <div class="item item-thumbnail-right item-text-wrap item-icon-right">
          <h2>Templo central</h2>
		  <p>17:00 hrs Reunion general</p>
		  
      </div>
       
    </div>

      </div>
    </div>
    </ion-content>
</ion-view>
